<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Desk Reporter</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
    {{>navbar}}


    <div class="container">
        <div class="container-md">
            <div class="navbar-md">
                <ul class="nav-list">
                    <li class="nav-link"><select name="category" id="category">
                        <option value="volvo">All</option>
                        <option value="volvo">Open Requests</option>
                        <option value="saab">Closed Requests</option>
                        <option value="audi">Audi</option>
                    </select></li>
                    <li class="nav-link"><a href=''>Problems & Changes</a></li>
                    <li class="nav-link"><a href=''>Assets</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>