@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* === login container settings and title === */



.login-container {
    width: 90%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
	box-shadow:0 0 20px rgba(0,0,0,0.8);
}

.login-container form {
    text-align: center;
}

.title {
    color: #000;
    text-align: center;
    padding: 20px;
    
}

.login-container label {
    display: block;
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    
}

.login-container input {
    font-size: 20px;
    padding: 5px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
}

.btn-dark {
    margin: 1.5rem 0;
	padding: 0.7rem 3rem;
	border-radius: 20px;
	outline: none;
	border: none;
	background: #293356;
	color: #fff;
    font-size: 20px;
	cursor: pointer;
	transition: all o.5s ease;
	box-shadow: 2px 2px 15px 1px #858fad;
}


.btn-dark:hover {
    opacity: 80%;
}